//alert("JavaScript works!");
//Arthor: Clifton Abraham
// SDI1, 1306
// Assignment 3
// Story: Last Angel the Demon hunter

var cave; // string property
var lastAngel;// Boolean property
var weapons;// number Property
var demons; // array property
var demonHuner;// Object property, (json data)

cave = {
  preperations: function(plot){
      plot = " This is my Destiny, ";
  var walk  = " I am Last Angel the  Demon hunter. ";
    if(walk == walk){
         console.log(plot + walk +
       " I've been stalking this Cave, I believe there are three Demon's at least.");
         console.log(" I must gather my things, so I grab my sword and my coat. ");
         console.log(" I make my way to the cave, I enter it's Dark and errie. ");
     
    } else{
        console.log(" It doesn't feel right I'm move on and see if I can find Demon's elsewere. ");
    };
   
    
 } // end of method
   
}; // end of prperty

lastAngel = {
    Light: function(Lantern, Lighter){
        Lantern = true;
        Lighter = true;
    if(Lantern && Lighter === true){
        console.log(" It's so dark, I must pull out my Lighter. ");
        console.log(" I took five step's, and I bumped into a chest on the ground. ");
        console.log(" I broke open the chest to find a big lantern, Nice! ");
        console.log(" A demon came out, good thing I can see,"
                    + "I cut his head clean off with my sword. ");
        } else if(Lantern || Lighter === false){
            console.log(" It's to dark in here, AHHH!! what was that ");
            console.log(" A demon came from no were I got stabbed and bleed to death "
                        + " GAME OVER!!! ")
        } else if(Lighter === true && Lantern === false){
            console.log("It's so dark, I must pull out my Lighter.");
            console.log("I took five step's, and I bumped into a chest on the ground.");
            console.log(" So I ignored it, I don't have time for chests. ");
            console.log(" A demon came out of no were and punched me in the face "
                        + " I managed to plunge my sword in his chest. I defeated the demon ")
            }; // end of nested conditional 
        return Lantern;
    } // end of method
  
}; // end of Boolean property

weapons = {
    smelly: function(smellyDemon){
     smellyDemon = 100;
    console.log(" I walked further down the hallway, then I smelled something so horid! "
                + " It's a Smelly demon? he's rushing towards me," + " Fight!!" );
    while(smellyDemon > 0){
        smellyDemon = smellyDemon -5
        console.log(" I hit the Demon " + smellyDemon
                    + " Health Remains "
                    + " Good Hit Lastangel! ");
    };// end of while loop
    console.log(" Finally that is over with, the smelly demon is no more. ");
      return 0;
    
    }// end of smelly method
};

demons ={
    demonsName: [
        {
       demon1:   Crawly,
       demon2:  mischief,
       demon3:  voltage
         
        },
        {
        demonsInfo:[
            {
             weaponChoicecrawly:   " likes the blunt hammer. " ,
             weaponChoiceMischief: " loves the Kitana blade. ",
             weaponChoiceVoltage:     " prefers a machette "
            }
            
        ] // end of demoninfo Array
        }, // end of demonInfo Object
         {
            lastAngel: " Last Angel decides to  takes all of them on!! ",
            fightOne: "He takes on Voltage first,"
            + " so he knocks the mahette out of his hands",
            fightTwo: "Crawly is up next,"
            + "crawly tries to hit last angel but he dodges it.",
            fightThree: " last up is mischief,"
            + "last angel gets into a sword fight with him."
 }
  

     
  
    ] // end of demonsName Array

     var Names = demons.demonsName;
  for(var key in Names){
    } // end of for loop
    
    
        
    

}; // end of demons property


// procedure output
cave.preperations(" This is my Destiny ");
// return values
var Newlight = lastAngel.Light(true,true);
var greatWeapon = weapons.smelly(100);
// outputs
console.log(" I chose the Lantern so I could see "
            + Newlight);
console.log(" I defeated the smelly demon "
            + greatWeapon + " Health remain's.");
